<div class="search">
    <div class="d-flex search__inputs">

      <mat-form-field>
        <mat-label for="name">Player name</mat-label>
        <input
          required
          matInput id="name" placeholder="First or last name"
          [(ngModel)]="playerName"
          (keydown.enter)="searchParameters!.playerName = playerName"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label for="team">Team name</mat-label>
        <input
          matInput id="team" placeholder="Team name"
          [(ngModel)]="teamName"
          (keydown.enter)="searchParameters!.teamName = teamName"
        >
      </mat-form-field>

    </div>
    
    <div class="d-flex buttons">
      <button mat-stroked-button class="btn-reset" color="basic" (click)="resetFilters()">Reset</button>
      <button (click)="searchPlayer()" mat-flat-button color="accent">Search</button>
    </div>
    
    <p *ngIf="notFoundResults">No results found... Please try other criteria</p>

    <app-spinner *ngIf="loading; else contentBlock"></app-spinner>

    <ng-template #contentBlock>
      <mat-card
        *ngIf="results"
        class="mat-card mat-focus-indicator card--rounded search-results"
      >
        <mat-card-content class="mat-card-content results">
          <ul class="results__list">
            <li class="player results__item" *ngFor="let result of (results | async)?.data">
              {{ result.first_name }}
              {{ result.last_name }},
              {{ result.team.full_name }}
              ({{ result.team.abbreviation }})
              <img
                class="player__club-logo"
                [src]="'../../assets/img/team-logos/' + result.team.abbreviation + '.png'"
                [alt]="result.team.full_name + 'logo'"
              >
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </ng-template>

    <mat-paginator #paginator
      *ngIf="!notFoundResults && results"
      (page)="handlePageEvent($event)"
      [length]="this.paginatorOptions.length"
      [pageSize]="this.paginatorOptions.pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="this.paginatorOptions.pageSizeOptions"
      [pageIndex]="this.paginatorOptions.pageIndex"
      aria-label="Select page"
      class="paginator">
    </mat-paginator>

</div>