<div class="search">

  <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
    <mat-label>{{filter.name}}</mat-label>
    <input matInput value="">
  </mat-form-field>
  <button mat-stroked-button class="btn-reset" color="basic" (click)="resetFilters()">Reset</button>
  <button (click)="searchPlayerByName()" [style.margin-left.px]="10" mat-flat-button color="primary">Search</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Last name Column -->
    <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Team Column -->
    <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team </th>
    <td mat-cell *matCellDef="let element"> {{element.team?.full_name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
