app-search-player {
  max-width: 100vw;
  margin: 0 auto;
}

.mat-form-field {
  width: 100%;
}

.search {
  &__inputs {
    max-width: 80%;
  }

  input.mat-input-element {
    font-size: 1.8rem;
  }
  .buttons {
    .btn-reset {
      margin-right: 0;
      & + button {
        margin-left: 0;
      }
    }
  }
}

.results {
  &__item.player {
    display: flex;
    div {
      flex-basis: 20%;
    }
  }
}