@import '../../../sass/colors';

.search {
    &__filters {
        width: 240px;
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        margin: 2rem auto;
        border-radius: 20px;
        border: 1px solid $color-text--light;
    }
    &__filter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;
        border-radius: 2.5rem;
        cursor: pointer;
    }
    &__form {
        display: block;
        margin: 2rem;
    }
    &__selection-list {
        list-style-type: none;
        li {
            background: white;
            cursor: pointer;
            padding: 10px 5px;
            &:hover {
                background: $color-accent;
            }
        }
    }
}