@import '../sass/typography';

.btn--shadow {
    float: left;
}

.btn--primary,
button.mat-button-base {
    &:hover {
        background: $color-accent;
    }
}

.mat-paginator-range-actions {
    button.mat-paginator-navigation-previous,
    button.mat-paginator-navigation-next {
        background: none;
    }
}