@import '../sass/typography';

.btn {
    &--shadow {
        float: left;
    }
}
button.mat-button-base {
    display: block;
    margin: 2rem auto;
    &:hover {
        background: $color-accent;
    }
}

.mat-paginator-range-actions {
    button.mat-paginator-navigation-previous,
    button.mat-paginator-navigation-next {
        background: none;
    }
}