$color-primary: #6200ee;
$color-accent: #03dac5;
$color-warn: #EF9A9A;

$color-tertiary: #3700b3;
$color-text: #333;
$color-text--light: #828282;
$light-grey: #eeeeee;

@mixin nba-gradient {
    background: linear-gradient(45deg, #089ede 0%, #02d8f0 100%);
}
