$color-primary: #bf360c;
$orange: #FFC032;
$yellow: #FFDE46;
$brown--light: #CA714D;
$color-text: #333;
$color-text--light: #828282;
$light-grey: #eeeeee;

// @mixin nba-gradient {
//     background: linear-gradient(45deg, $orange 0%, $yellow 100%);
// }