@import '../sass/colors';

.results {
    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        gap: .5rem;
        list-style: none;
        &.mat-list-base {
            display: flex;
        }
    }
    &__item {
        background: white;
        border: 1px solid $color-accent;
        border-radius: 10px;
        &:hover {
            background: #fafafa;
        }
        &.team {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
        }
    }
}