@import '../sass/colors';

.results {
    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        // gap: .5rem;
        padding: 1rem;
        list-style: none;
    }
    &__item {
        padding-top: .5rem 1.6rem;
        background: white;
        border: 1px solid $color-accent;
        border-radius: 15px;
        a {
            &,
            &:active,
            &:visited,
            &:focus,
            &:focus-visible {
                color: $color-primary;
                text-decoration: none;
                font-weight: 700;
                cursor: pointer;
            }
        }
        &.team {
            padding-left: .5rem;
            padding-right: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &.player,
        &.news > .mat-list-item-content {
            justify-content: space-between;
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}