@import '../sass/colors';

.results {
    &.mat-card {
        padding: 0;
    }
    &__list {
        max-width: 576px;
        margin: 0 auto;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        gap: 1rem;
        list-style: none;
        &.mat-list-base {
            display: flex;
        }
    }
    &__item {
        padding: 1rem;
        font-size: 1.6rem;
        background: white;
        border: 1px solid lightgrey;
        border-radius: 10px;
        &:hover {
            background: #fafafa;
        }
        &.team,
        &.player {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.mat-list.mat-list-base a {
    text-decoration: none;
}