*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html, body { 
    background: bottom;
    font-family: $font-primary, Roboto, "Helvetica Neue", sans-serif;
}

body {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}