// Add this theme file to the styles array in angular.json

/*
    Core mixins
*/

@use '@angular/material' as mat;
@include mat.core();
@include mat.strong-focus-indicators();

/*
    Define custom palettes
*/

$my-primary: mat.define-palette(mat.$deep-orange-palette, 900);
$my-accent:  mat.define-palette(mat.$amber-palette, A200, A400, A700);
$my-warn:    mat.define-palette(mat.$red-palette, 200); // optional, defaults to red if omitted

/*
    Define custom themes
*/

$my-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn
    ),
    typography: mat.define-typography-config(),
    density: -1,
));

// $dark-theme: mat.define-dark-theme((
//     color: (
//         primary: $my-primary,
//         accent: $my-accent,
//         warn: $my-warn
//     ),
//     typography: mat.define-typography-config(),
//     density: -1,
// ));

/*
    Apply the themes
*/

// Apply the theme by default
@include mat.core-theme($my-theme);
// Include only used components below for better performance
@include mat.button-theme($my-theme);
@include mat.badge-theme($my-theme);
@include mat.input-theme($my-theme);
@include mat.form-field-theme($my-theme);
// @include mat.list-theme($my-theme);
// Or uncomment below to use in all components (for large apps)
// @include mat.all-component-colors($my-theme);
// @include mat.all-component-typographies($my-theme);
// @include mat.all-component-densities($my-theme);
// @include mat.all-component-themes($my-theme);

/*
    Using a dark theme
*/

// Apply the dark theme only when the user prefers dark themes
// @media (prefers-color-scheme: dark) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    // Include only used components below for better performance
    // @include mat.core-color($dark-theme);
    // @include mat.button-color($dark-theme);
    // @include mat.badge-theme($dark-theme);
    // Or uncomment below to use in all components (for large apps)
    // @include mat.all-component-colors($dark-theme);
// }

/*
    Strong focus indicators
*/
@include mat.strong-focus-indicators-theme($my-theme);
// @include mat.strong-focus-indicators-theme($dark-theme);


/*
    Define custom styles
*/

// Create custom styles using hue value, contrast, lighter, darker variants
// SAMPLE 1
// .my-custom-style {
//     background: mat.get-color-from-palette($my-palette, '500');
//     color: mat.get-color-from-palette($my-palette, '500-contrast');
// }
// SAMPLE 2
// .my-custom-darker-style {
//     background: mat.get-color-from-palette($my-palette, 'darker');
//     color: mat.get-color-from-palette($my-palette, 'darker-contrast');
// }
// SAMPLE 3 DENSITY
// .compact {
//     @include mat.button-density(-2);
// }