/* poppins-regular - latin-ext_latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/poppins-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/poppins-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/poppins-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/poppins-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/poppins-v20-latin-ext_latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin-ext_latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/poppins-v20-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/poppins-v20-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/poppins-v20-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/poppins-v20-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/poppins-v20-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/poppins-v20-latin-ext_latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-900 - latin-ext_latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/poppins-v20-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/poppins-v20-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/poppins-v20-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/poppins-v20-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/poppins-v20-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/poppins-v20-latin-ext_latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
  }

$font-primary: 'Poppins', sans-serif;

h1.section-heading {
  margin: 2em 20px;
  // text-transform: uppercase;
  font-family: $font-primary;
  font-size: clamp(14px, 1.6rem, 1.8rem);
  font-weight: 500;
}