<li class="scores-list-item">
    <div class="main-infos">
        <div class="teams-wrap">
            <img src="../../assets/img/ball.svg" height="28" alt="ball icon">
            <span class="teams">{{score?.home_team?.full_name }} VS {{ score?.visitor_team?.full_name}}</span>
        </div>
        <span class="score">{{ score?.home_team_score }} : {{ score?.visitor_team_score}}</span>
    </div>
    <div class="other-infos">
        <div class="date-city-wrap">
            <span class="date">{{ score?.date }} | </span>
            <span class="city">{{ score?.home_team?.city }}</span>
        </div>
    </div>
</li>
<mat-divider></mat-divider>