<li class="scores-list-item">
    <div class="main-infos">
        <div class="teams-wrap">
            <img src="../../assets/img/ball.svg" height="28" alt="ball icon">
            <span class="teams">{{result?.home_team?.full_name }} VS Visitors team</span>
        </div>
        <span class="score">score</span>
    </div>
    <div class="other-infos">
        <div class="date-city-wrap">
            <span class="date">Date | </span>
            <span class="city">City</span>
        </div>
    </div>
</li>
<mat-divider></mat-divider>