@import '../../../sass/colors';

app-latest-score-item {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid $light-grey;
}

.teams-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 1em auto;
    &__ball{
        margin-right: 10%;
    }
    &__team {
        display: flex;
        align-items: center;
        gap: 5%;
    }
    // &__team-logo {

    // }
    &__score {
        font-size: 21px;
        font-weight: 700;
    }
    &__vs {
        margin-left: 10%; 
        margin-right: 10%; 
    }
}

.other-infos {
    margin-bottom: 1em;
    text-align: center;
    color: $color-text--light;
}