<li class="scores-list-item">
    <div class="main-infos">
        <div class="teams-wrap">
            <img src="../../assets/img/ball.svg" height="28" alt="ball icon">
            
            
            <img src="../../assets/img/logos/{{ score?.home_team?.abbreviation }}.png" alt="">
            <!-- albo  -->
            <img [src]="'../../assets/img/logos/' + score?.home_team?.abbreviation + '.png'" alt="">
            
            
            <span class="teams">{{ score?.home_team?.abbreviation }} VS {{ score?.visitor_team?.abbreviation }}</span>
        </div>
        <span class="score">{{ score?.home_team_score }} : {{ score?.visitor_team_score }}</span>
    </div>
    <div class="other-infos">
        <div class="date-city-wrap">
            <span class="date">{{ score?.date | date: 'mediumDate'}} | </span>
            <span class="city">{{ score?.home_team?.city }}</span>
        </div>
    </div>
</li>
<mat-divider></mat-divider>