@import '../../../sass/_colors.scss';
@import '../../../sass/_typography.scss';
@import '../../../styles.scss';

.player-of-day {
    &::before {
        @extend .label-bg;
    }
    &__heading {
        display: flex;
        .mat-icon {
            font-size: 68px;
            height: auto;
            width: auto;
            border-radius: 50%;
            border: 5px solid $orange;
            padding: 10px;
            @include nba-gradient;
            color: darkgoldenrod;
        }
    }

    .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1em auto;
        width: 60%;
        & span {
            font-weight: 700;
        }
    }
    .player-infos {
        list-style: none;
    }
    .team-infos {
        list-style: none;
    }
}