@import '../../../sass/_colors.scss';
@import '../../../sass/_typography.scss';
@import '../../../styles.scss';

.player-of-day {
    .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mat-icon {
            font-size: 68px;
            height: auto;
            width: auto;
            border-radius: 50%;
            padding: 10px;
        }
        .mat-card-subtitle {
            margin-bottom: 0;
        }
    }
        .infos {
            display: flex;
            justify-content: space-between;
            margin: 1em auto;
            width: 90%;
            color: $color-text--light;
            & span {
                font-weight: 700;
                color: $color-text;
            }
        }
        .player-infos {
            list-style: none;
        }
        .team-infos {
            list-style: none;
        }
}