<mat-form-field appearance="fill">
    <mat-label>Home team</mat-label>
    <mat-select>
        <mat-option value="one">Los Angeles Lakers</mat-option>
        <mat-option value="two">Boston Celtics</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Visitors team</mat-label>
    <mat-select>
        <mat-option value="one">Los Angeles Lakers</mat-option>
        <mat-option value="two">Boston Celtics</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput type="date">
</mat-form-field>
  
<button mat-flat-button color="primary">Search</button>