<li class="scores-list-item">
    <div class="main-infos">
        <div class="teams-wrap">
            <div class="teams-wrap__team">
                <img class="teams-wrap__team-logo" src="../../assets/img/team-logos/{{ score?.home_team?.abbreviation }}.svg" height="48" alt="">
                <span class="teams-wrap__team-name">{{ score?.home_team?.abbreviation }}
                </span>
                <span class="teams-wrap__score">{{ score?.home_team_score }}</span>
            </div>
            <span class="teams-wrap__vs">VS</span>
            <div class="teams-wrap__team">
                <span class="teams-wrap__score">{{ score?.visitor_team_score }}</span>
                <img class="teams-wrap__team-logo" [src]="'../../assets/img/team-logos/' + score?.visitor_team?.abbreviation + '.svg'" height="48" alt="">
                <span class="teams-wrap__team-name">{{ score?.visitor_team?.abbreviation }}</span>
            </div>
        </div>
    </div>
    <div class="other-infos">
        <div class="date-city-wrap">
            <span class="date">{{ score?.date | date: 'mediumDate'}} | </span>
            <span class="city">{{ score?.home_team?.city }}</span>
        </div>
    </div>
</li>