.mat-toolbar {
    position: sticky;
    top: 0;
    max-width: 810px;
    &-row {
        height: 60px;
        justify-content: space-between;
    }
    .mat-button-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__button.mat-icon-button {
        line-height: 10px;
    }
    .mat-icon {
        height: 28px;
        width: 28px;
    }
    .material-icons {
        font-size: 28px;
    }
}