@import '../../../sass/_colors.scss';
@import '../../../sass/_typography.scss';
@import '../../../styles.scss';

.latest-scores {
    // display: flex;
    // flex-direction: column;
    .scores-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        .scores-list-item {
            width: 96%;
            margin: 0 auto;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
        }
        .main-infos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            .teams {
                margin-left: 5px;
            }
            .score {
                font-weight: 700;
                color: $color-text;
            }
        }

        .other-infos {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            color: $color-text--light;
        }
    }
    .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}