@import '../../../../sass/typography';
@import '../../../../sass/colors';

.app-logo {
    margin-top: -3rem;
}

.app-logo-text {
    font-size: 4rem;
    font-family: $font-primary, sans-serif;
    text-transform: capitalize;
    color: white;
}

.app-icon {
    font-size: 6rem;
    font-family: 'Sport', $font-primary, sans-serif;
    color: white;
}