.player-of-the-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1em auto;
        width: 60%;
        & span {
            font-weight: 700;
        }
    }
    .player-infos {
        list-style: none;
    }
    .team-infos {
        list-style: none;
    }
}