<article class="box--white player-of-the-day">
    <h2 class="heading">playerFullName</h2>
    
    <div class="infos">
        <ul class="player-infos">
            <li>First name: <span>LeBron</span></li>
            <li>Last name: <span>James</span></li>
            <li>Position: <span>F</span></li>
        </ul>
        <ul class="team-infos">
            <li>Team: <span>Los Angeles Lakers</span></li>
            <li>City: <span>Los Angeles</span></li>
            <li>Division: <span>Pacific</span></li>
        </ul>
    </div>
    <button class="btn-primary">Go to team page</button>
</article>