@import '../../../sass/colors';
// @import '../../../sass/_buttons';

.header-search {
    min-height: 60px;
}

.search-nav {
    margin-top: -4em;
    height: 120px;
    text-align: center;
    &__filter {
        display: flex;
        justify-content: space-around;
    }
    &__category {
        display: flex;
        flex-direction: column;
        color: $color-text--light;

        .mat-icon {
            font-size: 38px;
            width: auto;
            height: auto;
            color: $color-text--light;
        }
    }
}

.search-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    input {
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
        outline: none;
        box-shadow: 3px,2px,5px, rgba(0,0,0,.4);
        font-size: 18px;
        color: $color-text;
    }
}