<header class="header-search">
</header>
<nav class="box--white search-nav">
    <h2>Search by category</h2>
    <div class="filter">
        <div class="by-player">
            <a [routerLink] = "['']" >
                <mat-icon aria-hidden="false" aria-label="Go to Home" fontIcon="home"></mat-icon>
            </a>
            <span class="label"></span>
        </div>
        <div class="by-team">
            <a [routerLink] = "['']" >
                <mat-icon aria-hidden="false" aria-label="Go to Home" fontIcon="home"></mat-icon>
            </a>
            <span class="label"></span>
        </div>
        <div class="by-game">
            <a [routerLink] = "['']" >
                <mat-icon aria-hidden="false" aria-label="Go to Home" fontIcon="home"></mat-icon>
            </a>
            <span class="label"></span>
        </div>
        <div class="by-news">
            <a [routerLink] = "['']" >
                <mat-icon aria-hidden="false" aria-label="Go to Home" fontIcon="home"></mat-icon>
            </a>
            <span class="label"></span>
        </div>
    </div>
</nav>