@import '../../../../sass/colors';

.search {
    &__filter {
        color: $color-text--light;
        &:hover {
            cursor: pointer;
        }
        &.active {
            color: $color-primary;
        }
    }
    &__icon {
        height: 5rem;
        width: 5rem;
        &::before {
            font-size: 5rem;
        }
    }
}