<div class="search__filter" [ngClass]="{'active': (currentFilter | async) === 'player'}">
  <mat-icon (click)="activateFilterPlayer()"  class="search__icon" aria-hidden="false" aria-label="Search player" fontIcon="sports_handball"></mat-icon>
  <span class="search__label">Players</span>
</div>

<div class="search__filter" [ngClass]="{'active': (currentFilter | async) === 'team'}">
  <mat-icon (click)="activateFilterTeam()"  class="search__icon" aria-hidden="false" aria-label="Search team" fontIcon="groups"></mat-icon>
  <span class="search__label">Teams</span>
</div>

<div class="search__filter" [ngClass]="{'active': (currentFilter | async) === 'game'}">
  <mat-icon (click)="activateFilterGame()"  class="search__icon" aria-hidden="false" aria-label="Search game" fontIcon="sports_basketball"></mat-icon>
  <span class="search__label">Games</span>
</div>