@import '../../../../sass/colors';
@import '../../../../sass/buttons';
@import '../../../../sass/typography';

.search-nav {
    @include nba-gradient;
    margin-top: -3em;
    padding: 1rem;
    text-align: center;
    border-radius: 2.5rem;
    h1 {
        color: white;
    }
    &__filter {
        display: flex;
        justify-content: space-around;
    }
    &__category {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        color: #e1c061;
        &.active {
            color: #555;
        }

        .mat-icon {
            height: 5rem;
            width: 5rem;
            &::before {
                font-size: 5rem;
            }
        }
    }
    .label {
        position: relative;
        bottom: 5px;
    }
}