<nav class="box--white search-nav">
    <h1>Search by category</h1>
    <div class="search-nav__filter">
        <div class="search-nav__category">
            
            <!-- <button type="button" [activateFilterPlayer]="true">Active filter</button> -->

            <a (click)="activateFilterPlayer()" >
                <mat-icon aria-hidden="false" aria-label="Search player" fontIcon="sports_handball"></mat-icon>
            </a>
            <span class="label">Players</span>
        </div>
        <div class="search-nav__category">
            
            <a (click)="activateFilterTeam()" >
                <mat-icon aria-hidden="false" aria-label="Search team" fontIcon="groups"></mat-icon>
            </a>
            <span class="label">Teams</span>
        </div>
        <div class="search-nav__category">
            <a (click)="activateFilterGame()">
                <mat-icon aria-hidden="false" aria-label="Search game" fontIcon="sports_basketball"></mat-icon>
            </a>
            <span class="label">Games</span>
        </div>
        <div class="search-nav__category">
            <a (click)="activateFilterNews()">
                <mat-icon aria-hidden="false" aria-label="Search news" fontIcon="newspaper"></mat-icon>
            </a>
            <span class="label">News</span>
        </div>
    </div>
</nav>