@import '../../../../sass/colors';
@import '../../../../sass/buttons';
@import '../../../../sass/typography';

.search-nav {
    @include nba-gradient;
    margin-top: -4em;
    padding: 1rem;
    text-align: center;
    border-radius: 2.5rem;
    h1 {
        color: white;
    }
    &__filter {
        display: flex;
        justify-content: space-around;
    }
    &__category {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .mat-icon {
            &::before {
                font-size: 2rem;
            }
        }
    }
    .label {
        position: relative;
        bottom: 5px;
    }
}