@import '../../../../sass/colors';

.intro-text {
    @include nba-gradient;
    width: fit-content;
    .mat-card-content {
        font-size: 1.8rem;
    }
}

.mat-card:not([class*=mat-elevation-z]) {
    margin: -2em auto 2em auto;
}