@import '../../../../sass/colors';

.intro-text {
    @include nba-gradient;
    margin: -1em auto 2em auto;
    padding: 1.5rem;
    max-width: 70%;
    text-align: center;
    border-radius: 25px;
    .mat-card-content {
        font-size: 1.6rem;
    }
}

.mat-card:not([class*=mat-elevation-z]) {
    margin: -2em auto 2em auto;
}