<app-home></app-home>

<nav>
    <mat-icon aria-hidden="false" aria-label="Go to Home icon" fontIcon="home"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Go to Home icon" fontIcon="search"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Go to Home icon" fontIcon="groups"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Go to Home icon" fontIcon="ballot"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Go to Home icon" fontIcon="sports_basketball"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Go to Home icon" fontIcon="newspaper"></mat-icon>
</nav>