<div class="search">
  
  <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
    <mat-label>Search by {{filter.name}}</mat-label>
    <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
      (change)="filterChange(filter,$event)">
      <option value="">-- Select {{filter.name}} --</option>
      <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
    </select>
</mat-form-field>
<button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Team name Column -->
    <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef> Team name </th>
        <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
    </ng-container>
          
    <!-- Abbrev Column -->
    <ng-container matColumnDef="abbreviation">
      <th mat-header-cell *matHeaderCellDef> Abbreviation </th>
      <td mat-cell *matCellDef="let element"> {{element.abbreviation}} </td>
    </ng-container>
  
    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
</div>