@import '../../../../sass/colors';

.main-nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    padding: 13px 0;
    bottom: 0;
    left: 0;
    height: 85px;
    min-width: 100vw;
    background: $color-primary;
    color: white;
    box-shadow: -1px -1px 10px rgba(0,0,0,.2); 
    .mat-icon-button {
        line-height: 20px;
    }
    .mat-button-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 45px;
        width: auto;
        font-size: 45px;
        cursor: pointer;
    }
    &__label {
        display: block;
        font-size: 14px;
    }
}