@import '../../sass/_colors.scss';
@import '../../sass/_typography.scss';

.latest-results {

    .results-list {
        display: flex;
        flex-direction: column;
        list-style: none;

        .result-item {
            width: 96%;
            margin: 0 auto;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
        }

        .heading {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            .teams {
                margin-left: 5px;
            }
        }

        .infos {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            color: $color-text--light;

            .result {
                font-weight: 700;
                color: $color-text;
            }
        }
    }
}