<app-header [introText]="introText"></app-header>
<app-logo [logoWidth]="100" [logoHeight]="100"></app-logo>
<h2>The project</h2>
<p class="about-text">This app was is my final project of the JavaScript Boot Camp at Software Development Academy. A SPA dedicated to NBA fans, showing latest news, scores and info about teams and players. Features search filters, Material, services, RxJs operators and use of APIs. My original design with Figma <a href="https://www.figma.com/file/zXa5Q8IpAgz19Uqle2R4NH/Serwis-NBA?type=design&node-id=0%3A1&mode=design&t=QtLDPxJ0HFTGQ87l-1" target="_blank">here</a>.</p>

<h2>Credits</h2>
<p class="about-text">
    The logo is a work from <a href="https://www.freepik.com/free-vector/gradient-halftone-basketball-labels-collection_24750985.htm#query=basketball%20logo&position=22&from_view=keyword&track=ais">Freepik</a>. The background is a free wallpaper. Both were adapted to this app.
</p>