@import '../../../sass/_colors.scss';
@import '../../../sass/_typography.scss';
@import '../../../styles.scss';

.latest-results {
    display: flex;
    flex-direction: column;
    .scores-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        .scores-list-item {
            width: 96%;
            margin: 0 auto;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
            &:last-child {
                border-bottom: none;
            }
        }
        .main-infos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            .teams {
                margin-left: 5px;
            }
        }

        .other-infos {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            color: $color-text--light;
            .result {
                font-weight: 700;
                color: $color-text;
            }
        }
    }
}