/* You can add global styles to this file, and also import other style files */

// IMPORTS
@import 'sass/theme';
@import 'sass/colors';
@import 'sass/typography';
@import 'sass/reset';
@import 'sass/buttons';

body, nav {
    max-width: 33rem;
    margin: 0 auto;
}

.field-shape {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em 20px;
    background: $color-primary;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
}

header {
    @extend .field-shape;
    text-align: center;
    height: 7rem;
}

footer {
    @extend .field-shape;
    z-index: -5;
    margin-top: 2em;
    height: 200px;
    transform: rotate(180deg);
    position: sticky;
    bottom: 0;
    max-width: 33rem;
    width: 30.5rem;
    .logo {
        transform: rotate(180deg);
        margin-bottom: -5em;
    }
}

.logo {
    margin-bottom: 2em;
    height: 54px;
}

.mat-card:not([class*=mat-elevation-z]) {
    margin: -2em 20px 2em 20px;
}

.card--rounded {
    border-radius: 25px;
}

app-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.other-info {
    margin-bottom: 1em;
    text-align: center;
    color: $color-text--light;
}

.results {
    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 100%;
        gap: .5rem;
        list-style: none;
    }
    &__item {
        padding-top: .5rem;
        padding-bottom: .5rem;
        border: 1px solid #f7edf9;
        border-radius: 15px;
        &.team {
            padding-left: .5rem;
            padding-right: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &.player,
        &.news > .mat-list-item-content {
            justify-content: space-between;
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}

.game {
    &__main-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        &__ball{
            margin-right: 10%;
        }
        .teams {
            margin-left: 5px;
        }
    }

    &__team {
        display: flex;
        align-items: center;
        gap: 5px;
        width: -webkit-fill-available;
    }
    &__logo {
        width: auto;
        max-width: 60px;
        max-height: 40px;
        margin-left: 10px;
        padding: 5px 0;
    }
    &__score {
        font-size: 21px;
        font-weight: 700;
        color: $color-text;
    }
    &__vs {
        margin-left: 10%; 
        margin-right: 10%; 
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__minor-info {
        display: flex;
        justify-content: center;
        color: $color-text--light;
        column-gap: 5px;
    }
}

.team {
    &__logo {
        max-height: 40px;
        max-width: 60px;
    }
}

.player {
    &__club-logo {
        max-height: 40px;
        max-width: 60px;
    }
}

app-search-player {
    max-width: 100vw;
    margin: 0 auto;
}

.mat-form-field {
    width: 100%;
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.btn-reset {
    margin: 1em auto 3em;
}
  
.d-flex {
    display: flex;
}

.pagination {
    margin: .5rem auto 3rem 20px;
    .mat-icon {
        &:hover {
            cursor: pointer;
        }
    }
}
