/* You can add global styles to this file, and also import other style files */

/* 
    Imports
*/

// Bootstrap imports
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
// @import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
// @import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/containers';
// @import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';

// Sass imports
@import 'sass/colors';
@import 'sass/fonts';
@import 'sass/typography';
@import 'sass/lists';
@import 'sass/reset';
@import 'sass/lists';
@import 'sass/ui';
@import 'sass/buttons';

/*******************/

body {
    margin: 0 auto;
    app-latest-scores,
    app-news-list {
        text-align: center
    }
}

header {
    @extend .field-shape;
    text-align: center;
    height: 10rem;
}

.logo {
    margin-bottom: 2em;
    height: 54px;
}

.card--rounded {
    border-radius: 25px;
}

.other-info {
    margin-bottom: 1em;
    text-align: center;
    color: $color-text--light;
}

.game {
    &__main-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        &__ball{
            margin-right: 10%;
        }
        .teams {
            margin-left: 5px;
        }
    }

    &__team {
        display: flex;
        align-items: center;
        gap: 5px;
        width: -webkit-fill-available;
    }
    &__logo {
        height: 40px;
        margin-left: 10px;
        padding: 5px 0;
    }
    &__score {
        font-size: 21px;
        font-weight: 700;
        color: $color-text;
    }
    &__vs {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__minor-info {
        display: flex;
        justify-content: center;
        color: $color-text--light;
        column-gap: 5px;
    }
}

.team {
    &__logo {
        max-height: 40px;
        max-width: 60px;
    }
}

.player {
    &__club-logo {
        max-height: 40px;
        max-width: 60px;
    }
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    &__inputs {
        gap: 5%;
    }
}

.mat-form-field {
    width: 100%;
    font-size: 1.8rem;
}
  
.d-flex {
    display: flex;
}

.mat-paginator {
    background: none;
}

.pagination {
    margin: .5rem auto 3rem 20px;
    .mat-icon {
        &:hover {
            cursor: pointer;
        }
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
