<mat-accordion color="accent">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-description>
            Show search filters
        </mat-panel-description>
        </mat-expansion-panel-header>

        <h3 id="radio-group-label">Select your news provider</h3>
        <mat-radio-group
            aria-labelledby="radio-group-label"
            class="radio-group"
            color="primary"
            (change)="changeProvider($event)"
            [(ngModel)]="selectedSource">
            <mat-radio-button class="radio-button" *ngFor="let source of sources" [value]="source">
            {{source}}
            </mat-radio-button>
        </mat-radio-group>

        <div>
            <h3>Interested about a player or team?</h3>
            <mat-form-field class="news__input">
            <mat-label for="player">Player</mat-label>
            <input
                matInput id="player"
                placeholder="First or last name"
                (input)="getNews()"
                [(ngModel)]="searchParameters.player"
                (keydown.enter)="searchParameters!.player">
            </mat-form-field>

            <mat-form-field class="news__input">
            <mat-label for="team">Team</mat-label>
            <input
                matInput id="team"
                placeholder="Enter a team name"
                (input)="getNews()"
                [(ngModel)]="searchParameters.team"
                (keydown.enter)="searchParameters!.team">
            </mat-form-field>
        </div>

    </mat-expansion-panel>
</mat-accordion>

<h3 *ngIf="selectedSource">Currently reading news from <strong style="text-transform: capitalize">{{selectedSource}}</strong></h3>

<app-spinner *ngIf="loading; else contentBlock"></app-spinner>

<ng-template #contentBlock>
    <mat-list class="results__list news">
    <a [href]="item.url" *ngFor="let item of (newsList | async) | slice:0:perPage" target="_blank" rel="nofollow">
        <mat-list-item class="results__item news">
        <div matBadge="{{item.source}}" matBadgeColor="primary" matBadgeOverlap="false">{{ item.title }}</div>
        </mat-list-item>
    </a>
    </mat-list>
</ng-template>