@import '../../../sass/colors';

.mat-badge-content {
    background: $color-tertiary;
    color: white;
    font-size: .9rem;
}

.mat-list.mat-list-base a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.mat-badge.mat-badge {
    font-size: 1.6rem;
}

.radio-group {
    display: flex;
    margin: 15px 0;
    align-items: flex-start;
}

.radio-button {
    margin: 5px;
}