@import '../../../sass/colors';

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-badge-content {
    background: $color-tertiary;
    color: white;
    font-size: .9rem;
}

.results__item.mat-list-base.mat-list-item > a {
    display: flex;
    justify-content: space-between;
}

.mat-badge.mat-badge {
    font-size: 1.6rem;
}