@import '../../../sass/colors';

h3 {
    margin-bottom: 1rem;
}

.mat-accordion {
    .mat-expansion-panel {
        width: 400px;
        margin: 2rem auto;
        text-align: left;
    }
}

.mat-badge-content {
    color: white;
    font-size: .9rem;
}

.mat-badge.mat-badge {
    font-size: 1.3rem;
    text-align: left;
    transition: all .25s;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    text-transform: uppercase;
}

.radio-button {
    margin: 5px;
}

.results__list.mat-list-base {
	margin: 2rem 2rem 3rem 2rem;
}

mat-list-item.results__item {
    height: 7rem;
    color: $color-text--dark;
    background: #e5e1f2;
    transition: all .5s;
    font-size: 1.5rem;
    &:hover {
        background: white;
        border: 2px #e5e1f2 solid;
        .mat-badge.mat-badge {
            font-size: 1.6rem;
        }
    }
}